.collection {
    &__container {
        display: flex;
        justify-content: center;
    }

    &__image {
        width: 100%;
          
        text-align: center;

    }

    &__photo {
        max-width: 100%;
        height: auto;
        margin-top: 180px;

    }
}
